[submodule "src/third_party/canlib"]
	path = src/third_party/canlib
	url = https://github.com/waterloo-rocketry/canlib
[submodule "src/third_party/rocketlib"]
	path = src/third_party/rocketlib
	url = https://github.com/waterloo-rocketry/rocketlib
[submodule "src/third_party/xsens-mti"]
	path = src/third_party/xsens-mti
	url = https://github.com/Scottapotamas/xsens-mti
[submodule "tests/mocks/fff"]
	path = tests/mocks/fff
	url = https://github.com/meekrosoft/fff.git
